<h1> Here are all of your recipes:</h1>

<a href="/">Return to Home</a>

<ul>
  <% @recipes.each do |recipe| %>
    <li>
      <a href="/recipe/<%= recipe.id %>">Recipe Name: <%= recipe.name %></a>
      <% recipe.categories.each do |category| %>
        <li><%= category.name() %></li>
        <% end %>
    </li>
  <% end %>
</ul>

<h4>Add a recipe below:</h4>

<form action="/add_recipe" method="post">
  <label for = "name">Name:</label>
  <input id="name" name="name" type="text">

  <button type="submit">Submit</button>

</form>
